<div>
  <h1 class="m-3">Cart
    {{#if totalPrice}}
    <span class="badge badge-secondary">Total:{{totalPrice}}</span>
    {{else}}
    <span class="badge badge-secondary">New</span>
    {{/if}}
  </h1>
</div>
<div class="row" >
    {{#if cartProducts}}
      {{#each cartProducts as |cartProduct|}}
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="{{cartProduct.product.imagePath}}" class="card-img" alt="buy me">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{cartProduct.product.title}}</h5>
              <p class="card-text">{{cartProduct.product.description}}</p>
              <p class="card-text">QUANTITY: {{cartProduct.quantity}}</p>
              <button class='subtractionCart btn btn-primary m-3' data-id={{cartProduct.product._id}}>-</button>
              <button class='addCart btn btn-primary m-3' data-id={{cartProduct.product._id}}>+</button>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
      {{else}}
        <h3>Add something to the cart!</h3>
      {{/if}}
</div>


<!-- <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div>
        <h1 class="m-3">Cart
          {{#if totalPrice}}
          <span class="badge badge-secondary">Total:{{totalPrice}}</span>
          {{else}}
          <span class="badge badge-secondary">New</span>
          {{/if}}
        </h1>
      </div>
      <div class="row" >
          {{#if cartProducts}}
            {{#each cartProducts as |cartProduct|}}
              <div class="m-2">
                <div class="card text-center m-2 " style="width: 18rem;">
                   <img src="{{cartProduct.product.imagePath}}" class="card-img-top" alt="...">
                   <div class="card-body">
                    <p class="card-title">{{cartProduct.product.title}}</p>
                    <p class="card-text">{{cartProduct.product.description}}</p>
                    <p class="card-text">PRICE: ${{cartProduct.product.price}}</p>
                    <p class="card-text">QUANTITY: {{cartProduct.quantity}}</p>
                    <button class='subtractionCart btn btn-primary m-3' data-id={{cartProduct.product._id}}>-</button>
                    <button class='addCart btn btn-primary m-3' data-id={{cartProduct.product._id}}>+</button>
                  </div>
                </div>
              </div>
            {{/each}}
            {{else}}
              <h3>Add something to the cart!</h3>
            {{/if}}
      </div>
    </div>
  </div>
</div> -->
