{{#if products}}
    <h3 class="card-title">TotalPrice: {{price}}</h3>
    <p class="card-text"><small class="text-muted">Date: {{date}}</small></p>
  {{#each products as |product|}}
  <div class="row" >
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src='{{product.product.imagePath}}' class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title">Title: {{product.product.title}}</h5>
            <p class="card-text">Description: {{product.product.description}}</p>
            <p class="card-text">Price: ${{product.product.price}}</p>
            <p class="card-text">Quantity: {{product.quantity}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
{{else}}
    <h3>Cart empty now</h3>
{{/if}}
