{{#each products as |product|}}

  <div data-id="{{product.id}}" class="product">
    <div class="show-product">
        {{product.imagePath}}
        <img src="https://i.imgur.com/5AZvv3k.jpg" alt="Wireframe" height="100px" width="100px">
    </div>
    <div class="show-product">
        {{product.title}}
    </div>
    <div class="show-product">
        {{product.description}}
    </div>
    <div class="show-product">
        ${{product.price}}
    </div>
    <div>
      <button class="add-cart">Add to Cart</button>
    </div>
  </div>

{{/each}}
