{{#each products as |product|}}

  <div data-id="{{product.id}}" class="product">
    <div class="show-product">
        <img src={{product.imagePath}} alt="Wireframe" style="max-height:150px; max-width:150px">
    </div>
    <div class="show-product">
        Title: {{product.title}}
    </div>
    <div class="show-product">
        Description: {{product.description}}
    </div>
    <div class="show-product">
        Price: ${{product.price}}
    </div>
    <div>
      <button class="add-cart">Add to Cart</button>
    </div>
  </div>

{{/each}}
