{{#each products as |product|}}

<div data-id="{{product.id}}">
  <div class="card">
    <img class="card-img-top" data-url="{{product.imagePath}}" src="{{upload.url}}" alt="Card image cap">

    <div class="card-body">

      <section data-id="{{product.id}}">
        <h6 class="card-title" data-id="{{product.id}}">{{limit product.title 20}}</h6>
        <p class="card-text">{{limit product.description 120}}</p>
        <p class="card-text">Price: ${{product.price}}</p>
        {{#if product.userIsLoggedIn}}
        <center><button class="btn-primary btn" class="add-cart" data-id="{{product.id}}">Add to Cart</button></center>
        {{else}}
        Sign in to Add to Cart
        {{/if}}


      </section>
    </div>

  </div>
</div>

  <!-- <div class="col-md-4 col-xs-6 product" data-id="{{product.id}}" style="width: 40rem;">
    <div class="card-group">
      <div class="card">
        <img class="show-product card-img-top" src="{{product.imagePath}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="show-product card-title">{{limit product.title 20}}</h5>
          <p class="show-product card-text">{{limit product.description 120}}</p>
          <p class="show-product card-text text-muted">Price: ${{product.price}}</p>
          {{#if product.userIsLoggedIn}}
          <center><button class="add-cart" data-id="{{product.id}}">Add to Cart</button></center>
          {{else}}
          Sign in to Add to Cart
          {{/if}}
        </div>
      </div>
    </div>
  </div> -->
{{/each}}
